{{>layout/header}}
<div class="container">
    <div class="card" style="width:23%; height:15%; float:left; margin-top:20px;">
        <img class="card-img-top" src="/images/kyungmin.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
            <h4 class="card-title">박경민</h4>
            <p class="card-text">1994.07.04 소프트웨어전공</p>
            <p class="card-text">재밌게 살고 싶은 27살</p>
            <a href="https://github.com/vkxmfkdl?tab=repositories" class="btn btn-secondary">Go Github</a>
            &nbsp
            <a href="https://minnnne.tistory.com/" class="btn btn-dark">Go Blog</a>
        </div>
    </div>
    <div style="float:left; margin-left: 3%; width:60%; height:100%; ">
        <h5><span class="badge badge-pill badge-primary">개발 스택</span><br></h5>
        해당 사이트는 <b>SpringBoot Framework</b>와 <b>AWS EC2, S3, RDS</b>를 사용해서 제작됐고
        <br>CI&CD는 <b>Travis CI</b>와 <b>Nginx Tool</b>을 사용해 자동배포와 무중단배포를 구성하였다.
        <br><br>
        <h5><span class="badge badge-pill badge-warning">홈페이지 용도</span><br></h5>
        개인 일정을 정리하고 개발 혹은 일상생활에 대한 기록하려고한다.
        <br><br>
        <h5><span class="badge badge-pill badge-info">Job Info</span><br></h5>
        2020.02 ~ 2020.04 중소기업유통센터 전산직 인턴<br>
        2020.04 ~ 취업준비생
        <br><br>
    </div>
</div>
{{>layout/footer}}