{{>layout/header}}
<div class="container">
    <!-- 목록 출력 영역 -->
    <table class="table table-striped">
        <thead class="thead-strong">
        <tr>
            <th style="width:10%;">게시글번호</th>
            <th style="width:50%;">제목</th>
            <th>작성자</th>
            <th style="width:20%;">최종수정일</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#posts}}
            <tr>
                <td>{{id}}</td>
                <td><a href="/posts/update/{{id}}">{{title}}</a></td>
                <td>{{author}}</td>
                <td>{{modifiedDate}}</td>
            </tr>
        {{/posts}}
        </tbody>
    </table>
    <br>
    <div class="row">
        <div class="col-md-6">
            <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
        </div>
    </div>
</div>
{{>layout/footer}}